{% extends 'base.html' %}
{% block title %}
    Add Event
{% endblock title %}

{% block body %}
    <div class="container">
        <form action="/add" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Task Name</label>
              <input type="text" class="form-control" name="title" id="title" placeholder="Enter the task name" required>
            </div>
            <div class="mb-3">
              <label for="date" class="form-label">Task Date</label>
              <input type="date" class="form-control" name="date" id="date" required>
            </div>
            <div class="mb-3">
              <label for="time" class="form-label">Time</label>
              <input type="time" id="time" name="time"min="00:00" max="24:00">
            </div>
            <div class="mb-3">
              <label for="expense" class="form-label">Task is expense:</label>
              <input type="checkbox" class="form-control" name="expense" id="expense" checked="checked">
            </div>
            <div class="mb-3">
              <label for="amount" class="form-label">Amount</label>
              <input type="number" step="0.01" class="form-control" name="amount" id="amount" placeholder="ex. 104.54" required>
            </div>
            <button type="submit" class="btn btn-outline-dark">Create Upcoming Task</button>
          </form>
    </div>
{% endblock body %}