{% extends 'base.html' %}
{% block title %}
    Portfolio
{% endblock title %}

{% block body %}
    <div>
        <h1>Portfolio</h1>
        <table>
            <tr>
                <td>ID</td>
                <td>Value</td>
                <td>Avg Value</td>
                <td>+/-%</td>
            </tr>
            <tr>
                <td>APL</td>
                <td>125</td>
                <td>85.3</td>
                <td>.25</td>
            </tr>
        <table>

        <div id="test"></div>
    </div>



    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". 
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

    Load our React component. 
    <script src="../static/test.js"></script> -->
{% endblock %}
